<!DOCTYPE html>
<html lang="fr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="sound design, composition musicale, informatique musicale, audio interactif, mixing, prise de son, mastering" />
    <meta name="theme-color" content="#F1D648" />
    <meta name="description" content="{{ ogDescription}}" />
    <meta property="og:url" content="https://jean-le-bellego.github.io/{{ ogUrl }}" />
    <meta property="og:title" content="{{ ogTitle }}" />
    <meta property="og:description" content="{{ ogDescription}}" />
    <meta property="og:image" content="https://jean-le-bellego.github.io/img/{{ ogImage }}" />
    <meta name="color-scheme" content="light dark">
    <link href="/img/favicon.svg" type="image/svg+xml" rel="icon" />
    <link href="/img/favicon.png" type="image/png" rel="icon" />
    <title>{{ ogTitle }} : Jean Le Bellego</title>

    <link href="/css/main.css" rel="stylesheet" media="all" />
    <link rel="manifest" href="manifest.json" />
</head>

<body {% if currSection == "index" %} id="home" {% endif %}>

    <header>
        {% if currSection == "index" %}
        <h1>
            <svg viewBox="0 0 418 49">
                <use href="img/sprite.svg#logo">
            </svg>
            <strong>Jean Le Bellego</strong>
            <span>designer sonore</span>
        </h1>
        <div class="svg-wrap">
            <svg class="sound" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 390.86 531.04" preserveAspectRatio="xMidYMid meet">
                <path d="M140.28,256.72c42.74,0,77.51,34.77,77.51,77.51s-34.77,77.51-77.51,77.51-77.51-34.77-77.51-77.51,34.77-77.51,77.51-77.51M140.28,255.72c-43.36,0-78.51,35.15-78.51,78.51s35.15,78.51,78.51,78.51,78.51-35.15,78.51-78.51-35.15-78.51-78.51-78.51h0Z" style="fill: none; stroke-miterlimit: 10;" class="svg-elem-1"></path><path d="M47.75,221.64c22.47-13.99,49-22.07,77.42-22.07,81.02,0,146.7,65.68,146.7,146.7s-65.68,146.7-146.7,146.7c-52.68,0-98.88-27.77-124.75-69.47" style="fill: none; stroke-miterlimit: 10;" class="svg-elem-2"></path><path d="M125.16,183.9c89.68,0,162.38,72.7,162.38,162.38s-72.7,162.38-162.38,162.38" style="fill: none; stroke-miterlimit: 10;" class="svg-elem-3"></path><path d="M125.34.5c146.37,0,265.02,118.65,265.02,265.02s-118.65,265.02-265.02,265.02" style="fill: none; stroke-miterlimit: 10;" class="svg-elem-4"></path>
            </svg>
        </div>
        {% else %}
        <p class="logo">
            <a href="index.html">
                <svg viewBox="0 0 160 160">
                    <use href="img/sprite.svg#jlb-logo"/>
                </svg>
                <span>Jean Le Bellego</span>
            </a>
        </p>
        {% endif %}

        <div class="tools">
            <!-- <button id="sound-switch">
                <svg viewBox="0 0 24 24">
                    <use href="img/sprite.svg#sound-on" />
                </svg>
                <span>Son Ambiente</span>
            </button> -->
            <button id="theme-switch">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 33" preserveAspectRatio="xMidYMid meet">
                    <circle cx="16.5" cy="16.5" r="11.5" style="fill:#fff; opacity:0.15;"/>
                    <g>
                        <polygon points="17 0 16 0 16 8 17 8 17 0 17 0"/>
                        <polygon points="17 25 16 25 16 33 17 33 17 25 17 25"/>
                        <polygon points="8 16 0 16 0 17 8 17 8 16 8 16"/>
                        <polygon points="33 16 25 16 25 17 33 17 33 16 33 16"/>
                        <polygon points="10.14 22.16 4.48 27.81 5.19 28.52 10.84 22.86 10.14 22.16 10.14 22.16"/>
                        <polygon points="27.81 4.48 22.16 10.14 22.86 10.84 28.52 5.19 27.81 4.48 27.81 4.48"/>
                        <polygon points="22.86 22.16 22.16 22.86 27.81 28.52 28.52 27.81 22.86 22.16 22.86 22.16"/>
                        <polygon points="5.19 4.48 4.48 5.19 10.14 10.84 10.84 10.14 5.19 4.48 5.19 4.48"/>
                    </g>
                    <path fill="#fff" d="M14.75,16.5c0-4.83,2.54-9.03,6.29-11.27-1.47-.63-3.09-.98-4.79-.98-6.77,0-12.25,5.48-12.25,12.25s5.48,12.25,12.25,12.25c1.7,0,3.32-.35,4.79-.98-3.76-2.24-6.29-6.45-6.29-11.27Z"/>
                </svg>
                <span>Thème</span>
            </button>
        </div>
    </header>
    
    <div id="wrapper">
        <main>
            {{ content }}
        </main>
    </div>

    <div class="general-footer">
        <p class="logo">
            <a href="index.html">
                <svg viewBox="0 0 160 160">
                    <use href="img/sprite.svg#jlb-logo"/>
                </svg>
                <span>Jean Le Bellego</span>
            </a>
        </p>
        <footer>
            <p>&copy; Jean Le Bellego, {% year %}</p>
        </footer>
    </div>

    <script src="/js/controls.js"></script>
    <script src="/sw.js"></script>
    
</body>

</html>
